* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  color: #fdfdfd;
  background-color: #040714;
  font-family: 'Quicksand', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
}

h2{
  font-weight: 600;
  color: #ffc94c;
}

.category-label{
  font-size: 10px;
  color: #ffc94c;
  border: 1px solid #ffc94c;
  border-radius: 50px;
  padding: 3px 8px;
}

.home{
  width: 100%;
}

.subtitle{
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0px 40px;
  font-size: 16px;
  //color: #ffc94c;
  text-transform: uppercase;
}

.url-not-found{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;

  span{
    background-color: #ffc94c;
    padding: 10px 20px;
    border-radius: 6px;
    font-size: 21px;
    color: #040714;
    font-weight: 600;
  }
  h3{
    font-size: 39px;
  }
  .go-home{
    margin-top: 20px;
    font-size: 16px;
    color: #ffc94c;
    &:hover{
      text-decoration: underline;
    }
  }
}