.items-counter{
  width: 100%;
  max-width: 400px;
}

.items-counter-container{
  width: 100%;
  display: flex;
  justify-content: space-between;
  border: 1px solid #ffc94c;
  padding: 8px  10px;

  p{
    font-size: 21px;
    font-weight: 600;
    color: #ffc94c;
    display: flex;
    align-items: center;
  }
  
  button{
    margin-top: 0 !important;
    border-radius: 50px !important;
    padding: 6px 12px !important; 
  }
}